<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.derrick.springbootTEST.dao.MoneysavedMapper">
  <resultMap id="BaseResultMap" type="com.derrick.springbootTEST.entitiy.Moneysaved">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="amount" jdbcType="INTEGER" property="amount" />
    <result column="location" jdbcType="VARCHAR" property="location" />
  </resultMap>
  <sql id="Base_Column_List">
    id, username, amount, location
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from moneysaved
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from moneysaved
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.derrick.springbootTEST.entitiy.Moneysaved">
    insert into moneysaved (id, username, amount, 
      location)
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{amount,jdbcType=INTEGER}, 
      #{location,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.derrick.springbootTEST.entitiy.Moneysaved">
    insert into moneysaved
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="location != null">
        location,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=INTEGER},
      </if>
      <if test="location != null">
        #{location,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.derrick.springbootTEST.entitiy.Moneysaved">
    update moneysaved
    <set>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=INTEGER},
      </if>
      <if test="location != null">
        location = #{location,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.derrick.springbootTEST.entitiy.Moneysaved">
    update moneysaved
    set username = #{username,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=INTEGER},
      location = #{location,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>